{% extends 'profile_base.html' %}

{% block options %}
  <a href="{% url 'info' %}">
    <button class="btn btn-light" id="profile_options">Ads</button>
  </a>
  <a>
    <button class="btn btn-dark" id="profile_options">Be An Agent</button>
  </a>
  <a href="{% url 'info_interior' %}">
    <button class="btn btn-light" id="profile_options">Be An Interior Designer</button>
  </a>
{% endblock options %}

{% block Views %}
  {% if Data != 'NO' %}
    {% for d in Data %}
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="{{ MEDIA_URL }}{{ d.photo }}" width="200" height="200" style="border-radius: 50%;">
          </div>
          <div class="col">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Name</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" value="{{ d.name }}">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Email</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" value="{{ d.email }}">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Phone number</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" value="{{ d.number }}">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Licence Number</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" value="{{ d.licence }}">
            </div>
          </div>
          <div class="container" style="margin-top: 10px;">
            <div class="row">
              <div class="col-sm">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Local Address</div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" value="{{ d.add }}">
                </div>
              </div>
              <div class="col-sm">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">City</div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" value="{{ d.city }}">
                </div>
              </div>
              <div class="col-sm">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">State</div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" value="{{ d.state }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p><b>About Yourself</b></p>
      <p>{{ d.about }}</p>
      <div style="text-align: center;">
        <a href="deleteAgent/{{ d.owner }}">
          <button class="btn btn-danger">Delete My Account</button>
        </a>
      </div>
    {% endfor %}
  {% endif %}
  {% if Data == 'NO' %}
    <div id="beAnAgent_create_button" style="text-align: center;">
      <p>Create your profile.</p>
      <button class="btn btn-primary" onclick="creatingYourProfile()" style="margin-top: 10px;">Create</button>
    </div>
  {% endif %}
  <div id="beAnAgent_form" style="display: none;">
    <form method="POST" action="saveAgents" enctype="multipart/form-data">
      {% csrf_token %}
      <label>Name</label>
      <input name="name" class="form-control" required>
      <label>Email</label>
      <input name="email" class="form-control" value={{ user_email }}>
      <label>Phone Number</label>
      <input name="number" class="form-control" required minlength="10" maxlength="10">
      <label>Local Address</label>
      <input name="address" class="form-control" required>
      <label>City</label>
      <input name="city" class="form-control" required>
      <label>State</label>
      <input name="state" class="form-control" required>
      <label>About Yourself</label>
      <textarea name="about" class="form-control" rows="5"></textarea>
      <label>Real Estate Licenses</label>
      <input name="licence" class="form-control" required>
      <label>Profile Photo</label>
      <input name="photo" type="file" class="form-control-file" required>
      <div style="text-align: center; margin-top: 5px; margin-bottom: 5px;">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button onclick="cancelingYourProfile()" class="btn btn-danger">Cancel</button>
      </div>
    </form>
  </div>
{% endblock Views %}